@page
@model BookModel
@{
  ViewData["Title"] = "Księga | Królewski System Zarządzania Królestwem";
}

<header>
  <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; gap: 36px;">
      <a asp-page="/Index" class="logo">K.S.Z.K</a>

      <nav>
        <a asp-page="/Map" class="nav-button">Mapa</a>
        <a asp-page="/Algorithms" class="nav-button">Algorytmy</a>
        <a asp-page="/Book" class="nav-button active">Księga</a>
      </nav>
    </div>

    <div>
      <span>@Model.ActiveScenarioName</span>
    </div>
  </div>
</header>

<section class="container main-view">
  <aside class="book-aside">
    <div class="book-aside-header">
      <small>Wybierz scenariusz</small>

      <form action="/Book" method="get" class="book-search-form">
        <input id="book-search-input" name="q" type="text" value="@Model.Q" placeholder="Wpisz słowo kluczowe..." />
        <button>
          Szukaj
        </button>
      </form>

    </div>

    <div class="aside-item scenarios-aside">



      
      @if (Model.SavedScenarios != null && Model.SavedScenarios.Any())
      {
        <div class="scenarios-list">
          @foreach (var scenario in Model.SavedScenarios)
          {
            <div class="scenario-item">
              <div>
                <h3>@scenario.Name</h3>
                <span>ID: @scenario.Id</span>
              </div>

              <form method="post" asp-page-handler="LoadScenario">
                <input type="hidden" name="id" value="@scenario.Id" />

                <div class="field-x">

                  <button type="submit" asp-page-handler="LoadScenario" class="action-button">Wczytaj do edytora</button>
                  <button type="submit" asp-page-handler="DeleteScenario" class="action-button" style="padding: 12px;"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 18px; width: 18px;">
                    <g class="" style="" transform="translate(0,0)">
                      <path
                      d="M199 103v50h-78v30h270v-30h-78v-50H199zm18 18h78v32h-78v-32zm-79.002 80 30.106 286h175.794l30.104-286H137.998zm62.338 13.38.64 8.98 16 224 .643 8.976-17.956 1.283-.64-8.98-16-224-.643-8.976 17.956-1.283zm111.328 0 17.955 1.284-.643 8.977-16 224-.64 8.98-17.956-1.284.643-8.977 16-224 .64-8.98zM247 215h18v242h-18V215z"
                      fill="#fff" fill-opacity="1" />
                    </g>
                  </svg></button>
                </div>

              </form>

            </div>
          }
        </div>
      }
      else
      {
        <div style="text-align: center; margin-top: 12px;">
          <p style="font-size: 1.2rem; margin-bottom: 12px;">Księga jest pusta. Nie masz jeszcze zapisanych scenariuszy.
          </p>
          <a asp-page="/Map" asp-page-handler="New" style="text-decoration: none;" class="action-button">Stwórz pierwszą
            mapę</a>
          </div>
        }
      </div>

      <div class="book-aside-actions">
      </div>
    </aside>
  </section>